@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;700&display=swap');

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #EDEFEE;

}

.navList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Karla";
}

.navList a {
  text-decoration: none;
  color: #495e57;
  font-size: 17px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #495e57;
}

.heroText {
  max-width: 500px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.heroText h1 {
  font-family: "Markazi Text";
  margin: 0px;
  font-size: 50px;
  color: #EDEFEE;
}
.heroText h2{
  font-family: "Markazi Text";
  margin: 0px;
  font-size: 30px;
  color: #f4c14f;
}
.heroText p{
  font-family: "Karla";
  color: #EDEFEE;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.hero button{
  background-color: #f4c14f;
  font-family: "Markazi Text";
  width: 130px;
  height: 40px;
  font-size: 20px;
  color: #333333;
  border-radius: 3px;
  cursor: pointer;
}
.heroImage {
  padding-top: 30px;
  padding-bottom: 30px;
}
.heroImage img{
  border-radius: 10px;
}

.menuText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50%;
  background-color: #fbdabb
}
.menuText h1 {
  color: #333333;
  font-family: "Markazi Text";
  font-size: 40px;
}
.menuText button {
  background-color: #EDEFEE;
  font-family: "Markazi Text";
  width: 130px;
  height: 40px;
  font-size: 20px;
  color: #333333;
  border-radius: 3px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.menuItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fbdabb;
  padding-bottom: 80px;
}
.item {
  background-color: #EDEFEE;
  border-radius: 10px;
}
.item img{
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}
.itemText {
  display: flex;
  padding-left: 20px;
  padding-right: 30px;
  justify-content: space-between;
  font-family: "Markazi Text";
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}
.foodName {
  margin-top: 0px;
}
.price {
  margin-top: 0px;
  color: #495e57;
}
.itemDescription {
  width: 260px;
  padding-left: 20px;
  margin-top: 0px;
  font-family: "Karla";
}

.delivery {
  padding-left: 20px;
  margin-top: 0px;
  font-family: "Markazi Text";
  font-size: 20px;
  font-weight: bold;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.content {
  display: flex;
}
.rating {
  font-family: "Karla";
  font-weight: bold;
}

.content p{
  max-width: 200px;
  font-family: "Markazi Text";
  font-size: 20px;
}
.content img {
  width: 60px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;


}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #495e57;
}
.aboutText{
  max-width: 500px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.aboutText h1 {
  font-family: "Markazi Text";
  margin: 0px;
  font-size: 50px;
  color: #EDEFEE
}
.aboutText h2{
  font-family: "Markazi Text";
  margin: 0px;
  font-size: 30px;
  color: #f4c14f
}
.aboutText p{
  font-family: "Karla";
  color: #EDEFEE;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.aboutImages {
  display: flex;
  flex-wrap: wrap;

}
.aboutImages img {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  border-radius: 45px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.contact{
  padding-right: 20px;
  padding-bottom: 65px;
  padding-left: 20px;
  font-family: "Karla";
}
.socialMedia{
  padding-right: 20px;
  padding-bottom: 65px;
  padding-left: 20px;
  font-family: "Karla";
}
.navigation{
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Karla";
  text-decoration: none;

}
.navigationList a{
  text-decoration: none;
  color: inherit;
}

.navigationList, .contactList, .socialMediaList {
  list-style: none;
  color: #495e57;
}
.footer li {
  margin-bottom: 3px;
}
.footer p {
  font-weight: bold;
  padding-left: 20px;
}
.footer img{
  width:200px;
  padding-right: 30px;
}

.bookingPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbdabb;

}

.bookingPage h1{
  color: #333333;
  font-family: "Markazi Text";
  padding-top: 30px;
  font-size: 38px;
}

.reservationForm {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-family: "Karla";
  font-size: 20px;
  padding-bottom: 90px;
  padding-top: 30px;
}

.errorMessage {
  color: red;
  font-family: "Karla";
  margin: auto;
}

.confirmPage {
  background-color: #f4c14f;
  text-align: center;
  color: #333333;
  font-family: "Karla";
}

.confirmPage h2 {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.confirmMessage1{
  padding-top: 10px;
  padding-bottom: 20px;
}

.confirmMessage2 {
  margin-bottom: 0px;
  padding-bottom: 20px;
}